.example-full-width {
    width: 100%;
}

.form-container {
    text-align: center;
    justify-content: center !important;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }

.main-div {
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top:50px;
}

.group-fileds{
    display: flex;
    gap: 10px;
}


mat-card {
    width: 500px;
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 20px;
}

mat-error {
    color: red;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    margin-left: 10px;
}

.mat-mdc-form-field-input-control {
    font-size: 20px; 
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
}

.role{
    float: left;
    margin-bottom: 25px;
}
